*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins";
    height: 100vh;
    padding: 5rem 15rem;
    min-width: 400px;
    /* background: url(./images/contact-bg.jpg); */
    background:linear-gradient(rgb(215, 173, 255), rgb(194, 150, 196));
    background-size:cover;
    background-repeat: no-repeat;
}

.container{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.281);
    border-radius: 12px;
    width: 100%;
    background:linear-gradient(rgb(161, 69, 247), rgb(191, 56, 196));
    
}

.flex{
    display: flex;
    flex-wrap: wrap-reverse;
}

.flex-1{
    background-color: #fff;
    padding: 4rem 2rem;
    flex: 1;
    width: 50%;
    border-radius: 12px 0px 0px 12px;
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
}

input{
    height:10px !important;
    width:100%;
    outline: none !important;
    border: none;
    background: none !important;
    border-bottom: solid 2px gray !important;
}

.inputs-container{
    margin: 2rem 0rem;
}

.input-title{
    font-weight: 600;
    font-size: 0.8rem;
}

.inputs-container{
    margin-top: 1.5rem;
}

.btn{
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    background: linear-gradient(rgb(161, 69, 247), rgb(191, 56, 196));
    color: aliceblue;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1rem;
}

.btns{
    margin: 1rem 0rem;
}

.login{
    margin-top: 3rem;
}

.login-heading{
    color: black;
    font-size: 1rem;
    font-weight: 400;

}

.login-heading a{
    font-size: 1rem;
    color: purple;
    text-decoration: underline;
    font-weight: 500;
}

.flex-2{
    padding: 4rem 4rem;
    width: 50%;

}

.logo{
    font-weight: 700;
    font-size: 4rem;
    justify-content: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.5rem 1.2rem;
    margin-top: 8rem;
    color: aliceblue;
}


@media (max-width:800px) {
    body{
        padding: 120px 50px;
        height: 100vh;
    }

    .container .flex-1{
        border-radius: 15px;
        padding: 50px;
    }
    .container .flex-2{
        display: none;
    }

    
.title{
    font-weight: 600;
    font-size: 50px;
    color: black;
}

input{
    height:10px !important;
    width:100%;
    outline: none !important;
    border: none;
    background: none !important;
    border-bottom: solid 2px gray !important;
}

.inputs-container{
    margin: 5rem 0rem;
}

.input-title{
    font-weight: 600;
    font-size: 22px;
}

.inputs-container{
    margin-top: 3.5rem;
}

.btn{
    text-decoration: none;
    padding: 1rem 2.5rem;
    background: linear-gradient(rgb(161, 69, 247), rgb(191, 56, 196));
    color: aliceblue;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.8rem;
}

.btns{
    margin: 1.5rem 0rem;
}

.login{
    margin-top: 3.5rem;
}

.login-heading{
    color: black;
    font-size: 1.7rem;
    font-weight: 400;

}

.login-heading a{
    font-size: 1.6rem;
    color: purple;
    text-decoration: underline;
    font-weight: 500;
}
}